.projectSec {
    color: white;
  
    margin-top: 4rem;
  }
  .projectSec h1 {
    text-align: center;
    font-size: 80px;
  }
  .projects{
    display: flex;
    flex-direction: column;
  }
  .project1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30vh 30vh;
    margin-top: 2rem;
  }
  .block {
    display: none;
  }
  
  .info h2 {
    text-align: left;
    opacity: 0;
    font-size: 40px;
    margin-left: 3rem;
    animation: projectShowLeft1 0.5s ease-in-out forwards;
  }
  .info p {
    display: flex;
    opacity: 0;
    font-size: 25px;
    animation: projectShowLeft1 1s ease-in-out 0.5s forwards;
    text-align: left;
    margin-left: 3rem;
  }
  .tech {
    border: 7px solid rgb(143, 52, 240);
    box-shadow: inset 0 0 2em 0 rgb(143, 52, 240), 0 0 5em 0 rgb(143, 52, 240);
    opacity: 0;
    gap: 2rem;
    background-color: rgb(61, 45, 87);
    height: 10vh;
    width: fit-content;
    position: relative;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-left: 6rem;
    margin-top: 2rem;
    display: flex;
    animation: projectShowLeft1 1s ease-in-out 1s forwards;
  }
  .tech img:nth-of-type(1) {
    opacity: 0;
    animation: techShow1 0.5s ease-in-out 1.5s forwards;
  }
  .tech img:nth-of-type(2) {
    opacity: 0;
    animation: techShow1 0.5s ease-in-out 1.6s forwards;
  }
  .tech img:nth-of-type(3) {
    opacity: 0;
    animation: techShow1 0.5s ease-in-out 1.7s forwards;
  }
  .tech img:nth-of-type(4) {
    opacity: 0;
    animation: techShow1 0.5s ease-in-out 1.8s forwards;
  }
  .tech img:nth-of-type(5) {
    opacity: 0;
    height: 90%;
    animation: techShow1 0.5s ease-in-out 1.9s forwards;
  }
  @keyframes techShow1 {
    0% {
      opacity: 0;
      transform: translateY(-290%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes projectShowLeft1 {
    0% {
      opacity: 0;
      transform: translateX(-20%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      
    }
  }
  @keyframes projectShowRight1 {
    0% {
      opacity: 0;
      transform: translateX(20%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .pic{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .pic img {
    border: 7px solid rgb(143, 52, 240);
    box-shadow: inset 0 0 2em 0 rgb(143, 52, 240), 0 0 5em 0 rgb(143, 52, 240);
    border-radius: 1rem;
    opacity: 0;
    display: flex;
    justify-content: center;
    margin: 2rem;
    height: 40vh;
    width: fit-content;
    animation: projectShowRight1 1s ease-in-out 1.5s forwards;
  }
  .links a{
    text-decoration: none;
    opacity: 0;
    color:rgb(143, 52, 240);
    padding: 0.5rem;
    font-size: 25px;
    border: 4px solid rgb(143, 52, 240);
    box-shadow: inset 0 0 1em 0 rgb(143, 52, 240), 0 0 1em 0 rgb(143, 52, 240);
    border-radius: 0.5rem;
    animation: techShow1 1s ease-in-out 1.6s forwards;
  }
 a:hover{
    background-color:rgb(143, 52, 240);
    box-shadow: inset 0 0 0.5em 3em rgb(143, 52, 240), 0 0 2em 0.5em rgb(132, 27, 244);
    cursor: pointer;
    color: white;
  }